.container{
    background-color: white;
}

.productbox{
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: white;
}
.sideLeft{
    width: 20%;
    padding: 20px;
    margin-left: 60px;
    list-style-type:none;
}
.tex1{
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 10px;  
}
.tx2{
    font-size: 18px;
    font-weight: 400;
    font-family: sans-serif;
    margin-top: 5px;
}
.ulMain{
    list-style-type:none;
    line-height: 30px;
    height: 100px;
    overflow-y: scroll;
    font-size: 18px;
    padding: 10px;
    
    
}
hr{
    margin-top: 10px;
}
input[type=checkbox] {
    zoom: 1.6;
    border-radius: 0px;
    
}
.ul2{
    vertical-align: text-bottom;
    margin-left: 5px;
}

  #sortDiv{
    display: flex;
    width: 40%;
    
  }
  .sort{
    width: 150px;
    padding: 10px;
    margin-right: 10px;
  }
  .mainBox{
      display: flex;
      flex-direction: column;
  }
  #gridDivBox{
      width: 99%;
      margin-top: 20px;
      background-color: white;
      
      
      
  }
  .mainBox{
      width: 77%;
      background-color: white;
      overflow-y: scroll;
  }
  #gridProduct {
    width: 98%;
    height: 150px;
    display: grid;
    grid-template-columns:300px 300px 300px;
    grid-gap: 5%;
    position: relative;
    margin: auto;
   
    
  }
  #gridProduct > div{
      margin-top: 10px;
  }
  #gridProduct > div > img {
   width: 100%;
  }
  button {
    width: 100%;
    height: 50px;
    font-size: 25px;
    background-color: black;
    color: white;
    border: 0;
    cursor: pointer;
  }
  #gridProduct > div > p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
 
 }
 #filterDiv{
     font-size: 20px;
 }